# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.sqlite3

# Environment
.env

# Node
node_modules/
build/

# Stockfish build output
stockfish_bots/stock-17/Stockfish/src/*.o
stockfish_bots/stock-17/Stockfish/src/.depend
stockfish_bots/stock-17/Stockfish/src/stockfish

# OS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
back-end/.venv/
front-end/.venv/
