STOCKFISH_PATH=../stockfish_bots/stock-17/stockfish
DEBUG=true
SECRET_KEY=replace-me
ALLOWED_HOSTS=127.0.0.1,localhost
FRONTEND_ORIGIN=http://localhost:3000
FRONTEND_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://chess-online.uzbek-talim.uz
GOOGLE_OAUTH_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7
